@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <title>SIMA - Writer</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")">
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
		<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <div id="applicationHost">
            @Html.Partial("_splash")
        </div>
        
		<script type="text/javascript">@("var scriptCache = " + Html.Raw(Json.Encode(ViewBag.SiteConfig.scriptCache)) + ";")</script>
		@Scripts.Render("~/Scripts/js")
		<script type="text/javascript" src="@Url.Content("~/Scripts/require.js")" data-main="@(ViewBag.SiteConfig.appJs)"></script>
		<script type="text/javascript">
			define('config', function () {
				return@(Html.Raw(Json.Encode(ViewBag.SiteConfig)));
			});
		</script>
    </body>
</html>